h1, h2, h3, h4, h6 {
    color: #2f4f4f; 
    text-align: left; 
    font-family: 'open sans', sans-serif; 
    font-weight: bold;}
p {
    color: #1C1F18; 
    text-align: left; 
    font-family: 'Open Sans', sans-serif;}
    
    /* links set to hed color, no underline */
a:link, a:visited, a:link:active, a:visited:active {
    color: #00165B;
    text-decoration: none;
   }

/* css for individual pages below */

/* Kristof: Background image and photo CSS below */

#frontpage {background-image: url("images/aa_typhoon-1650677_640_lightened.jpg");}
#pagesecond {background-image: url("images/aa_typhoon-1650677_640_lightened.jpg");}
#pagethird {background-image: url("images/aa_typhoon-1650677_640_lightened.jpg");}
#pagefourth {background-image: url("images/aa_typhoon-1650677_640_lightened.jpg");}
#pagefive {background-image: url("images/aa_typhoon-1650677_640_lightened.jpg");}

/* index */
#destruction {width: 100%;} 

/* pg 2 - hurricanes */
#boats {width: 700px;} 

/* ? cruft? */
#katrina {border-style: solid; background-color: #809fff; width:452px; height: 300px; padding: 22px;}

/* PG 4, all photos */
.tornado {width: 700px}


/* Mary: Quiz CSS below*/

.boxone{
    width:900px;
    background-color:#778899;}
  
h5{color:#778899}


/* css for header and footer below */

.header {display:flex; justify-content:flex-end;}
.headerlinks {display:flex; margin-right:0px; margin-left:20px; font-family:'open sans', serif; font-size: 12px}
    /*header is a class for a div formatted here as a flexbox, 
      and headerlinks is a class for anchor tags within that flexbox, 
      both for the top of the screen. 
      The links should space themselves out to the left of the top of the screen.*/
  
#footer {font-size: 10px; line-height: 1; text-align: center;} 
    /*footer is an ID for the bottom of the screen, small and centered. except it won't center. What am I missing here?*/

